  .c {
      float: left;
      width: 50px;
      height: 50px;
      background-image: radial-gradient(#fff,#e6e6e6);
      border: 1px solid black;
      font-size:50px;
      text-align:center;
      display: table-cell;  /* td */
      vertical-align:middle;
      line-height: 50px;
  }
  .button {
    display: inline-block;
    padding: 10px 120px;  /* T, R, B, L */
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    color: #a0dae6;
    background-color:#0d2344;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #a0dae6;
  }
  
  .button:hover {background-color: black}
  
  .button:active {
    background-color:  black;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  body {
    background-image: url("1.jpg");
 }
  
  main {
    max-width: 610px;
    margin: auto;
  }
  
  h1 {
    font-weight: bold;
    text-align: center;
    color:#a0dae6;
    background-color:#0d2344;
    margin-left: 3.7%;
    margin-right: 4.2%;
    border: 2px solid #426daf;
    border-radius: 10px;
    font-style: italic;
    

  }
  
  .display {
    text-align: center;
    color: #a0dae6;
    border: 2px solid #426daf;
    background-color: #0d2344 ;
    border-radius: 10px;
    display: inline-block;
    width: 15%;
    margin-right: 5px; 
    
  }
  
  .controls {
    text-align: center;
  }
  #Message{
    text-align: center;
    color:#0d2344;
    border: 2px solid  #426daf;
    border-radius: 10px;
    margin-left: 3.5%;
    margin-right: 4.7%;
  }
  
  .board {
      width: 520px;
      height: 520px;
      margin: 20px;
      border: 20px solid #0d2344;
      border-radius: 10px;
  }